node_modules
.DS_Store
Thumbs.db
*.log
yarn-error.log
.pnpm-debug.log
.env
.env.local
.env.*.local
.vscode
.idea
coverage
/build
/dist
/out
package-lock.json
yarn.lock
*.tsbuildinfo
*.swp
*.swo
*.swp
*.swo
*.bak
*.tmp
/test/**/*.snap
/test/**/*.json
/test/**/*.html
/test/**/*.js
/test/**/*.ts
/tsconfig.json
/tsconfig.*.json
/jest.config.ts
/jest.config.js
/jsconfig.json
/.vscode/**
/.github/**
/__tests__
/__mocks__
/.husky/
/.lintstagedrc.js
/.eslintrc.js
/.prettierrc.js
